<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to My Express App</h1>
    <ul>
        <% messagesDB.forEach((item) => {%>
            <h2><%= item.user %></h2>
            <h3><%= item.added %></h3>
            <h3><%= item.text %></h3>
            <%})%>
    </ul>
</body>
</html>
