<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <title>Message Details</title>
  </head>
  <body>
    <div class="single-message">
      <h1><%= message.user %></h1>
      <h3><%= message.added.toLocaleString() %></h3>
      <p><%= message.text %></p>
      <a href="/">â† Back to home</a>
    </div>
  </body>
</html>
